// colors
$primaryColor:#1ba1e1;
$blueTextColor:#22a7f0;
$secondaryColors: #353535;

$whiteColor:#ffffff;
$lightGrey: #f8f8f8;
$gary:#4b4b4b;
$garyTittel:#4b4b4b;
$linearGradient:linear-gradient(to bottom, rgba(34, 167, 240, .5) 0%,rgba(34, 167, 240, 0) 100%);

// $lightGreyBackground:#f9faff;
// $gradientColor: "linear-gradient(left, rgba(30,87,153,1) 0%,rgba(176,48,254,1) 0%,rgba(117,72,251,1) 100%)";
// $buttonGradientBgColor : "linear-gradient(to right, #bc2bff 0%, #7249fb 51%, #bc2bff 100%)";
// $bgColorGradient:-webkit-linear-gradient(0deg, #bc2bff 0%, #7249fb 100%);
// $lightPurpleBgColor:#f9f9ff;
 

// font size 
$htmlFontSize:14px;


// fonts
$OpenSans-Regular:"OpenSans-Regular";
$OpenSans-Bold:"OpenSans-Bold";
$OpenSans-LightItalic: 'OpenSans-LightItalic';
$OpenSans-SemiBold:"OpenSans-SemiBold";

$Play-Bold:'Play-Bold';
$Play-Regular :"Play-Regular";

$HindSiliguri-Light:"HindSiliguri-Light";
$Raleway-SemiBold:"Raleway-SemiBold";







// section header style
$sectionHeaderStyle:sec-header-style;

// footer instagram
$footerInsta:insta1,insta2,insta3,insta4,insta5,insta6,insta7,insta8,insta9;






